<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | NStack India</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg shadow navbar-dark bg-primary py-3">
        <div class="container">
            <a class="navbar-brand" href="#">PIN CODE API</a>

            <ul class="navbar-nav ml-auto" style="flex-direction: row;">
                <li class="nav-item ">
                    <a class="nav-link mr-4" href="/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="py-2 text-center">
            About Us
        </h1>
    </div>

    <div class="container my-4" style="min-height: 54vh;">
        <div class="row">
            <div class="col-sm-12 offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                <div class="card">

                    <div class="card-body">
                        <h1>About Us</h1>
                        <p class="text-muted">
                            This project was developed under NSTACK.IN if you have any question or query feel free to
                            contact us. We will love to answer them and if you like our work and want to support them
                            share this your friends.
                        </p>

                        <p>
                            You can also donate us by using Paypal or Buy me a coffee,
                        </p>

                        <h2 class=" my-2">Social</h2>
                        <p class="text-muted">
                            If you would like to connect with us then you can find us on various social network. You can
                            find more about us our own website <a href="https://www.nstack.in">https://www.nstack.in</a>
                        </p>
                        <hr>
                        <div class="d-flex mt-4 justify-content-around">
                            <a target="_BLANK" href="https://twitter.com/nitishk72_" class="btn btn-primary">Say Hi</a>
                            <a target="_BLANK" href="http://paypal.me/nitishk72" class="btn btn-secondary">Donate
                                @Paypal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light py-4">
        <div class="container">
            <div class="text-center">
                All Right Reserver ®
            </div>
        </div>
    </footer>
    <script data-name=BMC-Widget src=https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js data-id=nitishk72
        data-description="Support me on Buy me a coffee!"
        data-message="Thank you for visiting. You can now buy me a coffee!" data-color=#5F7FFF data-position=Right
        data-x_margin=18 data-y_margin=18></script>
</body>

</html>